In [1]:
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
active_tickers = [
#    "RWMGX",
    "AWSHX",
#    "RICGX",
    "ANCFX",
    "AIVSX",
#    "FCTDX",
#    "RFNGX",
#    "FCLKX",
#    "FSAKX",
    "VPMCX",
    "LCCAX",
    "FRDPX",
#    "GQLIX",
    "HAIAX",
    "MSIGX",
#    "JUEAX",
#    "JDEAX",
    "PRBLX",
#    "RTLAX",
#    "CMEUX",
#    "CUSUX",
    "PRDGX",
    "PRCOX",
    "VHCOX",
    "VDIGX",
    "VQNPX",
#    "BTCLX"
]

In [3]:
vix = pd.read_csv("data/vix.csv")
spx = pd.read_csv("data/spx.csv")
active = pd.read_csv("data/active.csv")

In [4]:
start_date = "1998-12-31"
end_date = "2024-12-31"
vix = vix[(vix["date"] >= start_date) & (vix["date"] <= end_date)]
spx = spx[(spx["date"] >= start_date) & (spx["date"] <= end_date)]
active = active[(active["date"] >= start_date) & (active["date"] <= end_date)]

In [5]:
spx_monthly = spx.groupby('month_year')["close"].last()
spx_monthly_returns = spx_monthly.pct_change()

In [6]:
vix_monthly = vix.groupby('month_year')["close"].mean()

In [7]:
active_monthly = active.groupby('month_year').last().drop(columns=['date']).reset_index()
active_monthly_returns = active_monthly[active_tickers].pct_change()
active_monthly_returns["month_year"] = active_monthly["month_year"]

In [8]:
active_monthly_returns.head()

,AWSHX,ANCFX,AIVSX,VPMCX,LCCAX,FRDPX,HAIAX,MSIGX,PRBLX,PRDGX,PRCOX,VHCOX,VDIGX,VQNPX,month_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998-12
1,-0.009419,0.034578,0.030576,0.072807,0.012203,-0.052677,0.032314,0.022801,0.055142,-0.024988,-0.001105,0.089672,-0.016324,0.059817,1999-01
2,-0.011043,-0.015251,-0.021237,-0.054762,-0.019670,-0.035426,-0.036379,-0.035767,-0.059322,-0.015844,-0.035931,-0.074945,-0.027044,-0.032821,1999-02
3,0.022982,0.045897,0.019667,0.044807,0.039021,-0.006385,0.048288,0.041672,0.012351,0.011820,-0.009174,0.064337,-0.004493,0.020298,1999-03
4,0.075213,0.068816,0.052013,0.040706,0.039301,0.077392,0.037689,0.034172,0.043112,0.060907,0.010417,0.064925,0.051601,0.038546,1999-04

In [9]:
active_monthly_returns_mean = active_monthly_returns[active_tickers].mean(axis=1)

In [10]:
active_monthly_returns_mean.index = active_monthly_returns["month_year"]

In [11]:
active_monthly_returns_mean.head()

month_year
1998-12         NaN
1999-01    0.021814
1999-02   -0.033960
1999-03    0.025078
1999-04    0.049629
dtype: float64

In [12]:
vix_monthly.head()

month_year
1998-12    24.420000
1999-01    28.035263
1999-02    28.822632
1999-03    25.309565
1999-04    23.478571
Name: close, dtype: float64

In [13]:
spx_monthly_returns.head()

month_year
1998-12         NaN
1999-01    0.041009
1999-02   -0.032283
1999-03    0.038794
1999-04    0.037944
Name: close, dtype: float64

In [14]:
combined_monthly = pd.DataFrame({"vix": vix_monthly,
                                 "spx": spx_monthly_returns,
                                 "active": active_monthly_returns_mean})

In [15]:
combined_monthly.head()

                  vix       spx    active
month_year
1998-12     24.420000       NaN       NaN
1999-01     28.035263  0.041009  0.021814
1999-02     28.822632 -0.032283 -0.033960
1999-03     25.309565  0.038794  0.025078
1999-04     23.478571  0.037944  0.049629

In [16]:
combined_monthly.mean()

vix       20.063053
spx        0.006017
active     0.008020
dtype: float64

In [17]:
high_volatility_months = combined_monthly[combined_monthly["vix"] >= 20]
high_volatility_months.describe()

              vix         spx      active
count  129.000000  128.000000  128.000000
mean    27.123090   -0.002524    0.000412
std      7.702183    0.057772    0.053475
min     20.062105   -0.169425   -0.167853
25%     22.464737   -0.042841   -0.036829
50%     24.926667   -0.003209    0.000444
75%     28.496818    0.039919    0.039175
max     62.639473    0.126844    0.113850