In [100]:
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [101]:
# active_tickers = [
# #    "RWMGX",
#     "AWSHX",
# #    "RICGX",
#     "ANCFX",
#     "AIVSX",
# #    "FCTDX",
# #    "RFNGX",
# #    "FCLKX",
# #    "FSAKX",
#     "VPMCX",
#     "LCCAX",
#     "FRDPX",
# #    "GQLIX",
#     "HAIAX",
#     "MSIGX",
# #    "JUEAX",
# #    "JDEAX",
#     "PRBLX",
# #    "RTLAX",
# #    "CMEUX",
# #    "CUSUX",
#     "PRDGX",
#     "PRCOX",
#     "VHCOX",
#     "VDIGX",
#     "VQNPX",
# #    "BTCLX"
# ]

In [102]:
active_tickers = [
   "RWMGX",
    "AWSHX",
   "RICGX",
    "ANCFX",
    "AIVSX",
   "FCTDX",
   "RFNGX",
   "FCLKX",
   "FSAKX",
    "VPMCX",
    "LCCAX",
    "FRDPX",
   "GQLIX",
    "HAIAX",
    "MSIGX",
   "JUEAX",
   "JDEAX",
    "PRBLX",
   "RTLAX",
   "CMEUX",
   "CUSUX",
    "PRDGX",
    "PRCOX",
    "VHCOX",
    "VDIGX",
    "VQNPX",
   "BTCLX"
]

In [103]:
vix = pd.read_csv("data/vix.csv")
spx = pd.read_csv("data/spx.csv")
active = pd.read_csv("data/active.csv")

In [104]:
expense = pd.read_csv('data/active_expense_ratios.csv')

In [105]:
start_date = "1998-12-31"
end_date = "2024-12-31"
vix = vix[(vix["date"] >= start_date) & (vix["date"] <= end_date)]
spx = spx[(spx["date"] >= start_date) & (spx["date"] <= end_date)]
active = active[(active["date"] >= start_date) & (active["date"] <= end_date)]

In [106]:
spx_monthly = spx.groupby('month_year')["close"].last()
spx_monthly_returns = spx_monthly.pct_change()

In [107]:
vix_monthly = vix.groupby('month_year')["close"].mean()

In [108]:
active_monthly = active.groupby('month_year').last().drop(columns=['date']).reset_index()
active_monthly_returns = active_monthly[active_tickers].pct_change()
active_monthly_returns["month_year"] = active_monthly["month_year"]

In [109]:
active_monthly_returns.head()

,RWMGX,AWSHX,RICGX,ANCFX,AIVSX,FCTDX,RFNGX,FCLKX,FSAKX,VPMCX,...,RTLAX,CMEUX,CUSUX,PRDGX,PRCOX,VHCOX,VDIGX,VQNPX,BTCLX,month_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998-12
1,NaN,-0.009420,NaN,0.034578,0.030575,NaN,NaN,NaN,NaN,0.072807,...,NaN,NaN,NaN,-0.024989,-0.001104,0.089672,-0.016324,0.059818,NaN,1999-01
2,NaN,-0.011043,NaN,-0.015252,-0.021237,NaN,NaN,NaN,NaN,-0.054762,...,NaN,NaN,NaN,-0.015843,-0.035932,-0.074945,-0.027043,-0.032822,NaN,1999-02
3,NaN,0.022982,NaN,0.045897,0.019667,NaN,NaN,NaN,NaN,0.044807,...,NaN,NaN,NaN,0.011820,-0.009174,0.064337,-0.004494,0.020299,NaN,1999-03
4,NaN,0.075214,NaN,0.068816,0.052013,NaN,NaN,NaN,NaN,0.040706,...,NaN,NaN,NaN,0.060906,0.010417,0.064926,0.051600,0.038545,NaN,1999-04

In [110]:
active_monthly_returns_mean = active_monthly_returns[active_tickers].mean(axis=1)

In [111]:
active_monthly_returns_mean.index = active_monthly_returns["month_year"]

In [112]:
active_monthly_returns_mean.head()

month_year
1998-12         NaN
1999-01    0.021814
1999-02   -0.033960
1999-03    0.025078
1999-04    0.049629
dtype: float64

In [113]:
vix_monthly.head()

month_year
1998-12    24.420000
1999-01    28.035263
1999-02    28.822632
1999-03    25.309565
1999-04    23.478571
Name: close, dtype: float64

In [114]:
spx_monthly_returns.head()

month_year
1998-12         NaN
1999-01    0.041009
1999-02   -0.032283
1999-03    0.038794
1999-04    0.037944
Name: close, dtype: float64

In [115]:
combined_monthly = pd.DataFrame({"vix": vix_monthly,
                                 "spx": spx_monthly_returns,
                                 "active": active_monthly_returns_mean})

In [116]:
combined_monthly.head()

                  vix       spx    active
month_year
1998-12     24.420000       NaN       NaN
1999-01     28.035263  0.041009  0.021814
1999-02     28.822632 -0.032283 -0.033960
1999-03     25.309565  0.038794  0.025078
1999-04     23.478571  0.037944  0.049629

In [117]:
combined_monthly.mean()

vix       20.063053
spx        0.006017
active     0.008136
dtype: float64

In [118]:
high_volatility_months = combined_monthly[combined_monthly["vix"] >= 20]
high_volatility_months.describe()

              vix         spx      active
count  129.000000  128.000000  128.000000
mean    27.123090   -0.002524    0.000296
std      7.702183    0.057772    0.054196
min     20.062105   -0.169425   -0.167120
25%     22.464737   -0.042841   -0.038260
50%     24.926667   -0.003209   -0.000716
75%     28.496818    0.039919    0.039509
max     62.639473    0.126844    0.118784

In [119]:
spx_annual = spx.groupby('year')["close"].last()
spx_annual_returns = spx_annual.pct_change()
vix_annual = vix.groupby('year')["close"].mean()
active_annual = active.groupby('year').last().drop(columns=['date']).reset_index()
active_annual_returns = active_annual[active_tickers].pct_change()
active_annual_returns['year'] = active_annual['year']

In [120]:
expense_ratios = expense.pivot_table(columns='ticker', values='net_expense_ratio').iloc[0]

In [121]:
expense_ratios

ticker
AIVSX    0.0056
ANCFX    0.0058
AWSHX    0.0056
BTCLX    0.0124
CMEUX    0.0006
CUSUX    0.0005
FCLKX    0.0045
FCTDX    0.0031
FRDPX    0.0083
FSAKX    0.0024
GQLIX    0.0062
HAIAX    0.0069
JDEAX    0.0060
JUEAX    0.0094
LCCAX    0.0099
MSIGX    0.0080
PRBLX    0.0081
PRCOX    0.0045
PRDGX    0.0064
RFNGX    0.0028
RICGX    0.0027
RTLAX    0.0116
RWMGX    0.0026
VDIGX    0.0022
VHCOX    0.0043
VPMCX    0.0037
VQNPX    0.0036
Name: net_expense_ratio, dtype: float64

In [122]:
active_annual_returns.head()

,RWMGX,AWSHX,RICGX,ANCFX,AIVSX,FCTDX,RFNGX,FCLKX,FSAKX,VPMCX,...,RTLAX,CMEUX,CUSUX,PRDGX,PRCOX,VHCOX,VDIGX,VQNPX,BTCLX,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
1,NaN,0.011464,NaN,0.246207,0.165297,NaN,NaN,NaN,NaN,0.414695,...,NaN,NaN,NaN,-0.028132,0.117350,0.977711,-0.029646,0.260883,NaN,1999
2,NaN,0.092577,NaN,0.041362,0.039192,NaN,NaN,NaN,NaN,0.046859,...,NaN,NaN,NaN,0.100625,-0.064108,0.179187,0.188377,-0.089317,NaN,2000
3,NaN,0.015026,NaN,-0.095584,-0.045803,NaN,NaN,NaN,NaN,-0.133319,...,NaN,NaN,NaN,-0.036456,-0.101048,-0.096405,-0.194311,-0.111326,NaN,2001
4,NaN,-0.147205,NaN,-0.173484,-0.142658,NaN,NaN,NaN,NaN,-0.245601,...,NaN,NaN,NaN,-0.184638,-0.222558,-0.279723,-0.237805,-0.219237,NaN,2002

In [123]:
active_annual_returns_expensed = active_annual_returns - expense_ratios

In [124]:
net_active = active_annual_returns_expensed[active_tickers].mean(axis=1)

In [125]:
net_active.index = active_annual_returns["year"]

In [126]:
net_active.head()

year
1998         NaN
1999    0.183232
2000    0.036728
2001   -0.066395
2002   -0.200866
dtype: float64

In [127]:
spx_annual_returns.head()

year
1998         NaN
1999    0.195260
2000   -0.101392
2001   -0.130427
2002   -0.233660
Name: close, dtype: float64

In [128]:
combined_annual = pd.DataFrame({"vix": vix_annual,
                               "spx": spx_annual_returns,
                               "active": net_active})

In [129]:
combined_annual.head()

            vix       spx    active
year
1998  24.420000       NaN       NaN
1999  24.372976  0.195260  0.183232
2000  23.315000 -0.101392  0.036728
2001  25.749677 -0.130427 -0.066395
2002  27.292460 -0.233660 -0.200866

In [130]:
combined_annual.mean()

vix       20.204027
spx        0.078191
active     0.099538
dtype: float64

In [131]:
active_annual_returns_expensed

,AIVSX,ANCFX,AWSHX,BTCLX,CMEUX,CUSUX,FCLKX,FCTDX,FRDPX,FSAKX,...,PRDGX,RFNGX,RICGX,RTLAX,RWMGX,VDIGX,VHCOX,VPMCX,VQNPX,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.159697,0.240407,0.005864,NaN,NaN,NaN,NaN,NaN,-0.111591,NaN,...,-0.034532,NaN,NaN,NaN,NaN,-0.031846,0.973411,0.410995,0.257283,NaN
2,0.033592,0.035562,0.086977,NaN,NaN,NaN,NaN,NaN,0.181603,NaN,...,0.094225,NaN,NaN,NaN,NaN,0.186177,0.174887,0.043159,-0.092917,NaN
3,-0.051403,-0.101384,0.009426,NaN,NaN,NaN,NaN,NaN,0.122562,NaN,...,-0.042856,NaN,NaN,NaN,NaN,-0.196511,-0.100705,-0.137019,-0.114926,NaN
4,-0.148258,-0.179284,-0.152805,NaN,NaN,NaN,NaN,NaN,-0.020628,NaN,...,-0.191038,NaN,NaN,NaN,NaN,-0.240005,-0.284023,-0.249301,-0.222837,NaN
5,0.257486,0.313951,0.252650,NaN,NaN,NaN,NaN,NaN,0.228817,NaN,...,0.245284,NaN,NaN,NaN,NaN,0.289806,0.491199,0.373939,0.297889,NaN
6,0.092396,0.133261,0.093468,NaN,NaN,NaN,NaN,NaN,0.094803,NaN,...,0.112607,NaN,NaN,NaN,NaN,0.107882,0.212194,0.179382,0.107484,NaN
7,0.063259,0.111092,0.029932,NaN,NaN,NaN,NaN,NaN,0.015117,NaN,...,0.027277,NaN,NaN,NaN,NaN,0.040042,0.078452,0.081495,0.054540,NaN
8,0.153647,0.187039,0.174674,NaN,NaN,NaN,NaN,NaN,0.164934,NaN,...,0.158308,NaN,NaN,NaN,NaN,0.193570,0.163480,0.119431,0.136499,NaN
9,0.053518,0.130359,0.035091,NaN,NaN,NaN,NaN,NaN,-0.038163,NaN,...,0.064703,NaN,NaN,NaN,NaN,0.067461,0.098948,0.109848,0.020323,NaN
10,-0.353151,-0.402554,-0.336376,NaN,NaN,NaN,NaN,NaN,-0.281728,NaN,...,-0.339249,NaN,NaN,NaN,NaN,-0.258050,-0.391557,-0.324634,-0.380867,NaN
11,0.266264,0.327752,0.183982,NaN,NaN,NaN,NaN,NaN,0.162242,NaN,...,0.255035,NaN,NaN,NaN,NaN,0.215468,0.484801,0.340552,0.220855,NaN
12,0.103081,0.134735,0.127942,NaN,NaN,NaN,NaN,NaN,0.182694,NaN,...,0.126238,0.141143,0.109046,NaN,0.134492,0.112023,0.106321,0.125630,0.142556,NaN
13,-0.023163,-0.024686,0.065006,NaN,NaN,NaN,NaN,NaN,0.063731,NaN,...,0.028892,-0.018455,-0.017185,-0.023527,0.071082,0.092145,-0.065935,-0.021903,0.020628,NaN
14,0.150217,0.165495,0.119349,NaN,NaN,NaN,NaN,NaN,0.094535,NaN,...,0.142052,0.172453,0.156904,0.155456,0.125927,0.101518,0.179796,0.149239,0.165499,NaN
15,0.319234,0.309601,0.313669,NaN,NaN,NaN,NaN,NaN,0.284695,NaN,...,0.297181,0.317075,0.326272,0.298841,0.320962,0.313043,0.422485,0.393356,0.322344,NaN
16,0.115237,0.084062,0.110268,NaN,NaN,NaN,NaN,NaN,0.088856,NaN,...,0.117181,0.090148,0.121366,0.103631,0.113048,0.116422,0.184602,0.183723,0.138393,NaN
17,-0.021138,0.028265,-0.008252,NaN,NaN,NaN,NaN,NaN,-0.043538,NaN,...,0.016142,0.034559,-0.015445,0.000271,-0.002370,0.024909,0.022453,0.023092,0.016582,NaN
18,0.140337,0.119535,0.128579,NaN,NaN,NaN,NaN,NaN,0.135776,NaN,...,0.110032,0.125954,0.146613,0.076519,0.134870,0.072706,0.101710,0.102836,0.116175,NaN
19,0.192149,0.227800,0.196578,NaN,NaN,NaN,NaN,NaN,0.194388,NaN,...,0.186840,0.234344,0.198439,0.195690,0.203075,0.191052,0.287085,0.292003,0.203573,NaN
20,-0.071880,-0.073299,-0.035228,NaN,NaN,NaN,-0.090160,NaN,-0.061027,NaN,...,-0.017012,-0.067571,-0.066339,-0.083878,-0.029687,-0.000268,-0.041900,-0.023641,-0.050629,NaN
21,0.239960,0.270431,0.250083,NaN,NaN,0.248998,0.310085,0.296780,0.289976,NaN,...,0.303824,0.277572,0.246672,0.274633,0.256934,0.307250,0.267693,0.274107,0.292996,NaN
22,0.139065,0.143373,0.071300,NaN,0.290550,0.226450,0.086985,0.218862,0.154609,NaN,...,0.132815,0.149806,0.145554,0.162617,0.077624,0.118177,0.223057,0.167889,0.175445,NaN
23,0.245450,0.218480,0.278840,NaN,0.265906,0.302301,0.252565,0.250886,0.257881,NaN,...,0.253886,0.225474,0.252219,0.233488,0.285841,0.246380,0.204169,0.212691,0.283777,NaN
24,-0.160571,-0.172398,-0.090157,-0.593271,-0.203502,-0.213267,-0.068230,-0.182440,-0.115145,NaN,...,-0.108597,-0.166613,-0.155062,-0.203122,-0.084259,-0.051152,-0.180406,-0.155850,-0.176237,NaN
25,0.279997,0.252846,0.166495,0.997831,0.290311,0.303255,0.234767,0.264052,0.112684,NaN,...,0.130424,0.259656,0.286718,0.232645,0.173212,0.078838,0.251158,0.277911,0.243577,NaN
26,0.243397,0.221550,0.184614,0.947876,0.248784,0.248092,0.259099,0.228168,0.100881,NaN,...,0.128425,0.228425,0.250095,0.189924,0.190871,0.086928,0.135692,0.128585,0.253637,NaN

In [132]:
active_annual_returns

,RWMGX,AWSHX,RICGX,ANCFX,AIVSX,FCTDX,RFNGX,FCLKX,FSAKX,VPMCX,...,RTLAX,CMEUX,CUSUX,PRDGX,PRCOX,VHCOX,VDIGX,VQNPX,BTCLX,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
1,NaN,0.011464,NaN,0.246207,0.165297,NaN,NaN,NaN,NaN,0.414695,...,NaN,NaN,NaN,-0.028132,0.117350,0.977711,-0.029646,0.260883,NaN,1999
2,NaN,0.092577,NaN,0.041362,0.039192,NaN,NaN,NaN,NaN,0.046859,...,NaN,NaN,NaN,0.100625,-0.064108,0.179187,0.188377,-0.089317,NaN,2000
3,NaN,0.015026,NaN,-0.095584,-0.045803,NaN,NaN,NaN,NaN,-0.133319,...,NaN,NaN,NaN,-0.036456,-0.101048,-0.096405,-0.194311,-0.111326,NaN,2001
4,NaN,-0.147205,NaN,-0.173484,-0.142658,NaN,NaN,NaN,NaN,-0.245601,...,NaN,NaN,NaN,-0.184638,-0.222558,-0.279723,-0.237805,-0.219237,NaN,2002
5,NaN,0.258250,NaN,0.319751,0.263086,NaN,NaN,NaN,NaN,0.377639,...,NaN,NaN,NaN,0.251684,0.307841,0.495499,0.292006,0.301489,NaN,2003
6,NaN,0.099068,NaN,0.139061,0.097996,NaN,NaN,NaN,NaN,0.183082,...,NaN,NaN,NaN,0.119007,0.113985,0.216494,0.110082,0.111084,NaN,2004
7,NaN,0.035532,NaN,0.116892,0.068859,NaN,NaN,NaN,NaN,0.085195,...,NaN,NaN,NaN,0.033677,0.045774,0.082752,0.042242,0.058140,NaN,2005
8,NaN,0.180274,NaN,0.192839,0.159247,NaN,NaN,NaN,NaN,0.123131,...,NaN,NaN,NaN,0.164708,0.158095,0.167780,0.195770,0.140099,NaN,2006
9,NaN,0.040691,NaN,0.136159,0.059118,NaN,NaN,NaN,NaN,0.113548,...,NaN,NaN,NaN,0.071103,0.056675,0.103248,0.069661,0.023923,NaN,2007
10,NaN,-0.330776,NaN,-0.396754,-0.347551,NaN,NaN,NaN,NaN,-0.320934,...,NaN,NaN,NaN,-0.332849,-0.364943,-0.387257,-0.255850,-0.377267,NaN,2008
11,NaN,0.189582,NaN,0.333552,0.271864,NaN,NaN,NaN,NaN,0.344252,...,NaN,NaN,NaN,0.261435,0.292682,0.489101,0.217668,0.224455,NaN,2009
12,0.137092,0.133542,0.111746,0.140535,0.108681,NaN,0.143943,NaN,NaN,0.129330,...,NaN,NaN,NaN,0.132638,0.132950,0.110621,0.114223,0.146156,NaN,2010
13,0.073682,0.070606,-0.014485,-0.018886,-0.017563,NaN,-0.015655,NaN,NaN,-0.018203,...,-0.011927,NaN,NaN,0.035292,0.012913,-0.061635,0.094345,0.024228,NaN,2011
14,0.128527,0.124949,0.159604,0.171295,0.155817,NaN,0.175253,NaN,NaN,0.152939,...,0.167056,NaN,NaN,0.148452,0.160138,0.184096,0.103718,0.169099,NaN,2012
15,0.323562,0.319269,0.328972,0.315401,0.324834,NaN,0.319875,NaN,NaN,0.397056,...,0.310441,NaN,NaN,0.303581,0.327370,0.426785,0.315243,0.325944,NaN,2013
16,0.115648,0.115868,0.124066,0.089862,0.120837,NaN,0.092948,NaN,NaN,0.187423,...,0.115231,NaN,NaN,0.123581,0.121732,0.188902,0.118622,0.141993,NaN,2014
17,0.000230,-0.002652,-0.012745,0.034065,-0.015538,NaN,0.037359,NaN,NaN,0.026792,...,0.011871,NaN,NaN,0.022542,0.030028,0.026753,0.027109,0.020182,NaN,2015
18,0.137470,0.134179,0.149313,0.125335,0.145937,NaN,0.128754,NaN,NaN,0.106536,...,0.088119,NaN,NaN,0.116432,0.102673,0.106010,0.074906,0.119775,NaN,2016
19,0.205675,0.202178,0.201139,0.233600,0.197749,NaN,0.237144,NaN,NaN,0.295703,...,0.207290,NaN,NaN,0.193240,0.238015,0.291385,0.193252,0.207173,NaN,2017
20,-0.027087,-0.029628,-0.063639,-0.067499,-0.066280,NaN,-0.064771,-0.085660,NaN,-0.019941,...,-0.072278,NaN,NaN,-0.010612,-0.047332,-0.037600,0.001932,-0.047029,NaN,2018
21,0.259534,0.255683,0.249372,0.276231,0.245560,0.299880,0.280372,0.314585,NaN,0.277807,...,0.286233,NaN,0.249498,0.310224,0.324696,0.271993,0.309450,0.296596,NaN,2019
22,0.080224,0.076900,0.148254,0.149173,0.144665,0.221962,0.152606,0.091485,NaN,0.171589,...,0.174217,0.291150,0.226950,0.139215,0.198232,0.227357,0.120377,0.179045,NaN,2020
23,0.288441,0.284440,0.254919,0.224280,0.251050,0.253986,0.228274,0.257065,NaN,0.216391,...,0.245088,0.266506,0.302801,0.260286,0.280646,0.208469,0.248580,0.287377,NaN,2021
24,-0.081659,-0.084557,-0.152362,-0.166598,-0.154971,-0.179340,-0.163813,-0.063730,NaN,-0.152150,...,-0.191522,-0.202902,-0.212767,-0.102197,-0.187967,-0.176106,-0.048952,-0.172637,-0.580871,2022
25,0.175812,0.172095,0.289418,0.258646,0.285597,0.267152,0.262456,0.239267,NaN,0.281611,...,0.244245,0.290911,0.303755,0.136824,0.298232,0.255458,0.081038,0.247177,1.010231,2023
26,0.193471,0.190214,0.252795,0.227350,0.248997,0.231268,0.231225,0.263599,NaN,0.132285,...,0.201524,0.249384,0.248592,0.134825,0.264142,0.139992,0.089128,0.257237,0.960276,2024

In [133]:
spx_annual

year
1998    1229.229980
1999    1469.250000
2000    1320.280029
2001    1148.079956
2002     879.820007
2003    1111.920044
2004    1211.920044
2005    1248.290039
2006    1418.300049
2007    1468.359985
2008     903.250000
2009    1115.099976
2010    1257.640015
2011    1257.599976
2012    1426.189941
2013    1848.359985
2014    2058.899902
2015    2043.939941
2016    2238.830078
2017    2673.610107
2018    2506.850098
2019    3230.780029
2020    3756.070068
2021    4766.180176
2022    3839.500000
2023    4769.830078
2024    5906.939941
Name: close, dtype: float64

In [137]:
spx_annual_returns.mean()

np.float64(0.07819067352646931)